1. 달력 기능
    - 달력 이동 가능
    - 달력에 그날 그날 했는 지 체크하는 기능
    - 체크된 상태가 유지되어야 함(localStorage)

2. 힘이 되어주는 문구 맨 위에 위치

3. 문구 아래에 현재 시간 나타내기

4. 배경 이미지 + 달력은 반투명
    - 배경이미지는 매번 바뀌도록 random

5. 오른쪽 상단에 위치정보 가져오기



+추가기능
https://medium.com/@wooder2050/%EB%B0%94%EB%8B%90%EB%9D%BC%EC%BD%94%EB%94%A9-%EC%9E%90%EB%B0%94%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8%EB%A1%9C-%EB%8B%AC%EB%A0%A5-calendar-todo-%EA%B5%AC%ED%98%84%ED%95%98%EA%B8%B0-f635ef8cce76
이 기능 이용해서 그 날짜 기록하기~ 어땠는지